<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <display-name>js_jsp_utf8</display-name>
 	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>cn.edu.ccnu.imd.study.demo.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

  <welcome-file-list>
    <welcome-file>/servlets/Order.do?method=list</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <!-- 配置servlet -->
  <servlet>
    <description>deal order</description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>cn.edu.ccnu.imd.study.demo.servlet.OrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/servlets/Order.do</url-pattern>
  </servlet-mapping>


</web-app>
